<h2>Formulario Alta</h2>
<div class="container">
    <form  [formGroup]="formulariocliente" (ngSubmit)="GuardarCliente()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="nombre"/>
            
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido"/>
        </div>
    
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion"/>
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>



